
.container {
    margin: 0 auto;
    width: 1024px;

}
.results {
    height:60px;
    font-size: 50px;
    background: rgb(51, 13, 95);
    color: white;
    padding: 5px 0px 0px 5px ;
    border-radius: 10px;
    margin: 10px 0px;
    box-sizing: border-box; 
}
.new-york-times {
    height:120px;
    text-align: center;
    font-size: 50px;
    background: rgb(51, 13, 95);
    color: white;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 10px;
    box-sizing: border-box;
}
